.hello{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 20px;
    width: 700px;
    margin: auto;
    margin-top: 200px;
    font-family: poppins;
}
body{
    background-color: rgb(184, 180, 180);
}

.box{
    font-size: 20px;
    color: #ee312f;
    font-weight: bold;
    font-family: 'times new roman';
    text-align: right;
}
.sayara{
    font-size: 30px;
    font-weight: bold;
    font-family: 'poppins';
    background-size: cover ;
    padding: 20px;
    margin-bottom: 50px;
}
.dsok{
    font-size: 20px;
    color: #ee312f;
    font-weight: bold;
    font-family: 'times new roman';
    text-align: right;
}
